@import 'tailwindcss';

@theme inline {
	/* Fonts */
	--font-lato: lato;
	--font-dmSans: dmSans;
	/* Weight */
	--font-weight-thin: 100;
	--font-weight-extralight: 200;
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-extrabold: 800;
	--font-weight-black: 900;
	/* Colors */
	--color-main: #ffffff;
	/* Breakpoint */
	--breakpoint-sm: 40rem; /* (640px) */
	--breakpoint-md: 48rem; /* (768px) */
	--breakpoint-lg: 64rem; /* (1024px) */
	--breakpoint-xl: 67.5rem; /* (1080px) */
	--breakpoint-2xl: 87.3rem; /* (1398px) */
	/* Container */
	--container-3xs: 16rem;
	--container-2xs: 18rem;
	--container-xs: 20rem;
	--container-sm: 24rem;
	--container-md: 28rem;
	--container-lg: 32rem;
	--container-xl: 36rem;
	--container-2xl: 42rem;
	--container-3xl: 48rem;
	--container-4xl: 56rem;
	--container-5xl: 64rem;
	--container-6xl: 72rem;
	--container-7xl: 80rem;
	--container-custom: 1398px;
}

@layer base {
	* {
		padding: 0px;
		margin: 0px;
		border: 0px;
	}
	*,
	*:before,
	*:after {
		box-sizing: border-box;
	}
	:focus,
	:active {
		/* outline: none; */
	}
	a:focus,
	a:active {
		/* outline: none; */
	}
	html,
	body {
		height: 100%;
		overflow-x: hidden;
	}
	body {
		color: var(--color-main);
		line-height: 1;
		font-family: var(--font-lato);
		font-weight: var(--font-weight-normal);
		font-size: var(--text-base--line-height);
		-ms-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	input,
	button,
	textarea {
		font-size: inherit;
	}
	button {
		cursor: pointer;
		color: inherit;
		background-color: inherit;
	}
	a {
		color: inherit;
	}
	a:link,
	a:visited {
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
	}
	ul li {
		list-style: none;
	}
	img {
		vertical-align: top;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: inherit;
		font-size: inherit;
	}
	.wrapper {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		> main {
			flex: 1 1 auto;
		}
		> * {
			min-width: 0;
		}
	}
}

@layer components {
	.__container {
		max-width: var(--container-custom);
		margin: 0 auto;
		padding: 0 15px;
	}
}

@layer utilities {
	.h1-home {
		@apply font-lato font-bold text-[5rem] leading-[5rem] max-md:text-[2rem] max-md:leading-[2.5rem];
	}
	.h1 {
		@apply font-lato font-bold text-[3.5rem] leading-[1.14] max-md:text-[2rem] max-md:leading-[1.25];
	}
	.h2 {
		@apply font-lato font-bold text-[2.5rem] leading-[1.2] text-[#1a1a1a] max-md:text-[2rem] max-md:leading-[1.25];
	}
	.title {
		@apply font-bold text-5xl text-[#1a1a1a] max-md:text-[2rem];
	}
	.title-booking {
		@apply font-bold text-[2rem] leading-[2.5rem] text-[#1a1a1a] max-md:text-xl;
	}
	.resize-input {
		@apply max-lg:w-[300px] max-lg:pr-[125px] max-md:w-[415px] max-md:pr-[188px] max-sm:w-[343px] max-sm:pr-[145px];
	}
	.lock {
		@apply overflow-hidden;
	}
	.no-scrollbar {
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.scrollbar {
		@apply [scrollbar-width:thin] [scrollbar-color:#0a58ca_transparent];
	}

	.scrollbar::-webkit-scrollbar {
		@apply h-[8px] w-[8px];
	}

	.scrollbar::-webkit-scrollbar-track {
		@apply bg-transparent;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		@apply bg-[#0a58ca] rounded-lg;
	}
	.my-custom-datepicker .ant-picker-suffix {
		@apply !opacity-100;
	}
	.my-class .swiper-pagination {
		@apply !absolute !left-[50%] !translate-x-[-50%] !bottom-[16px] z-2;
	}
	.my-class .swiper-pagination-bullet {
		@apply !bg-white !opacity-[0.36] !w-[6px] !h-[6px];
	}
	.my-class .swiper-pagination-bullet-active {
		@apply !bg-white !opacity-100 !scale-150 !w-[5.333px] !h-[5.333px];
	}
	.react-tel-input .form-control {
		@apply !font-dmSans !text-base !text-[#757575] !left-[30%] !border !border-[#3a83ed] !rounded-xl !ring-[3px] !ring-[#0A58CA1C] !py-[16px] !pl-[16px] !outline-0 !h-full !w-[70%];
	}
	.flag-dropdown {
		@apply !font-dmSans !text-base !text-[#757575] !border !border-[#3a83ed] !rounded-xl !ring-[3px] !ring-[#0A58CA1C] !py-[16px] !pl-[16px] !outline-0 !h-full !w-[25%];
	}
	.react-datepicker__portal .react-datepicker__day,
	.react-datepicker__portal .react-datepicker__day-name,
	.react-datepicker__portal .react-datepicker__time-name {
		@apply max-sm:!w-8 max-sm:!leading-8; /* 4rem */
	}
	.react-datepicker-time__header {
		@apply !font-dmSans !font-bold !text-xl !text-[#0a58ca];
	}
}
